.button-nav{
    width: 90px;

}
#logo_nav{
    width:5vh;
    margin-top: 0 auto;
}
.navbar-links{
    max-height: 6vh;
}
.footer{
    height: 6vh;
    position:fixed;
    bottom: 0;
    width:100%;
}
.navbar{
    height:6vh;
}
#toogle-button{
    height: 2.5vh;
    width: 2.5vh;
}
#navbar{
    position:fixed;
    top:0;
    z-index: 1;
}