
#go-next-form{
    margin-right:0px;
}


#cpf{
    width:50%;
}
.btns-sing-up{
    width:100px;
}
#container-form{
    margin-top:7vh;
    margin-bottom: 7vh;
}
#form-2{
    background-color: rgb(180, 182, 189);
    opacity: 0.8;
}
#cep{
    width:50%;
}
#birth-date{
    width:50%;
}
.forms-sing-up{
  
}
@media screen and (max-width: 480px) {
    
    .forms-inputs {
        font-size: 13px;
    }
    .btns-sing-up{
        font-size:12px;
    }
  
} 
